body {
    overflow: hidden;
    background: rgb(169, 211, 18);
}

.text {
    position: relative;
    background: white;
    width: 1000px;
    border-style: dashed;
    left: 200px;
    padding: 40px;
    text-align: justify;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

.tlacitko {
    position: relative;
    color: black;
    display: inline-block;
    background: rgba(49, 49, 65, 0.37);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    left: 610px;
    bottom: 20px;
    
}
.tlacitko:hover{
    background: rgb(49, 49, 65);
    transition: all 0.3s ease-in-out;
}
